


    
    
     
        <!-- <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="./home-slide-3.jpg " class="homeslide w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="./home-slide-1.jpg" class="homeslide w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="./home-slide-1.jpeg" class="homeslide w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
       -->
      <!-- <div class="leftPanel">
        <h1 style="display: inline-block;text-align: center;">Helping you meet your Life Goals</h1>
        <div class="container text-center d-flex flex-row">
          <div class="leftpanelwrap col-7" style="margin-right: 20px;">
            <div class="row col">
              <div class="col card card-cal">
                <a href="#">Personal Loan</a>
              </div>
              <div class="col card card-cal">
                <a href="#">Home Loan</a>
              </div>
            </div>
            <div class="row col">
              <div class="col card card-cal">
                <a href="#">Credit Card</a>
              </div>
              <div class="col card card-cal">
                <a href="#">Digital Savings Account</a>
              </div>
            </div>
          </div>
          <div class="leftpanelwrap col-4">
            <div class="row d-flex flex-column">
              <div class="card mb-3 card-item-cal" style="max-width: 440px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="./home-slide-.jpeg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <a href="/loancalculator">
                        <h5 class="card-title">Loan EMI Calculator</h5>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3 card-item-cal" style="max-width: 440px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="./home-slide-.jpeg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Home Loan EMI Calculator</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3 card-item-cal" style="max-width: 440px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="./home-slide-.jpeg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Fixed Deposit Calculator</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3 card-item-cal" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../home-slide-.jpeg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Credit card EMI Calculator</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div> -->
      <!-- <div class="dashboard">

        <div class="container text-center">
          <div class="row">
            <div class="col card" style="width: 18rem;">
              <a href="/step1">
                <i class="fa-solid fa-user-plus"></i>
                <div class="card-body">
                  <p class="card-text">Open Account</p>
                </div>
              </a>
            </div>
            <%if(currUser&&currUser.person==="Employee"){%>
            <div class="col card" style="width: 18rem;">
              <a href="/auth/Employee/createcustomer">
                <i class="fa-solid fa-user-plus"></i>
                <div class="card-body">
                  <p class="card-text">Create Customer</p>
                </div>
              </a>
            </div>
          <%}%>
          <%if(!(currUser&&currUser.person==="Employee")){%>
            <div class="col card" style="width: 18rem;">
              <a href="#">
                <i class="fa-solid fa-user-plus"></i>
                <div class="card-body">
                  <p class="card-text">View Accounts</p>
                </div>
              </a>
            </div>
          <%}%>
          
            <div class="col card" style="width: 18rem;">
              <a href="#">
                <i class="fa-solid fa-user-plus"></i>
                <div class="card-body">
                  <p class="card-text">Open Account</p>
                </div>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col card" style="width: 18rem;">
              <a href="#">
                <i class="fa-solid fa-user-plus"></i>
                <div class="card-body">
                  <p class="card-text">Open Account</p>
                </div>
              </a>
            </div>
            <div class="col card" style="width: 18rem;">
              <a href="#">
                <i class="fa-solid fa-user-plus"></i>
                <div class="card-body">
                  <p class="card-text">Open Account</p>
                </div>
              </a>
            </div>
            <div class="col card" style="width: 18rem;">
              <a href="#">
                <i class="fa-solid fa-user-plus"></i>
                <div class="card-body">
                  <p class="card-text">Open Account</p>
                </div>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col card" style="width: 18rem;">
              <a href="#">
                <i class="fa-solid fa-user-plus"></i>
                <div class="card-body">
                  <p class="card-text">Open Account</p>
                </div>
              </a>
            </div>
            <div class="col card" style="width: 18rem;">
              <a href="#">
                <i class="fa-solid fa-user-plus"></i>
                <div class="card-body">
                  <p class="card-text">Open Account</p>
                </div>
              </a>
            </div>
            <div class="col card" style="width: 18rem;">
              <a href="#">
                <i class="fa-solid fa-user-plus"></i>
                <div class="card-body">
                  <p class="card-text">Open Account</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div> -->



      <%- include("../includes/head"); %>
<% layout("./layouts/boilerplate") %>

<div class="flex d-flex flex-row mt-3 main-dash">
  <div class="col-8 flex d-flex flex-column" >
    <div class="current-balance-info flex d-flex flex-row justify-content-around" style="text-align: center;">
      <div class="p-2 col-6">
        <h1>EMPLOYEE PORTAL</h1>
        <p id="login-time"></p>
      </div>
      <!-- <div class="p-3 col-4"><h1 id="initial-deposit">$10,124</h1></div> -->
    </div>
    <div class="analysis flex d-flex flex-row justify-content-between mt-3 ml-4 ">
      
      <div class="ml-4 in">
          <a href="/auth/Employee/createcustomer">
            <i class="fa-solid fa-user-plus"></i>
            <div class="card-body">
              <p class="card-text">Create Customer</p>
            </div>
          </a>
      </div>
      <div class="out">
        <a href="/employee/view">
          <i class="fa-solid fa-building-columns"></i>
          <div class="card-body">
            <p class="card-text">View Accounts</p>
          </div>
        </a>
      </div>
      <div class="interest">
        <a href="#">
        <i class="fa-solid fa-chart-pie"></i>
        <div class="card-body">
          <p class="card-text">Analysis</p>
        </div>
      </a>
      </div>
    </div>
    <div class="request-info flex d-flex flex-row justify-content-evenly  ">
      <div class="p-3 col-7 " style="font-size: x-large;" >Loan requests</div>
      <div class="p-3 col-2"><input type="text" id="searchInput" onkeyup="searchLoanRequests()" placeholder="Search by name.." style="width: 10rem;"></div>
    </div>
    <div class="ml-4  transactions-table flex d-flex flex-column justify-content-evenly overflow-auto " style="height: 400px; background-color: #E6E6E6  !important;">
      
     <% for (let loan of loans) { %>
      <%if(!loan.isApproved){%>
      <form action="/approval" method="post">
        <div class="flex d-flex flex-column">
          <div class="p-2 ml-3 mr-3 flex d-flex flex-row " ><label for="staticEmail" class="col-6 col-form-label">Email</label><input type="text" readonly class="form-control-plaintext" id="staticEmail" name="loan_id" value="<%=loan.loan_id%>"></div>
          <div class="p-2 ml-3 mr-3 flex d-flex flex-row " ><div class="col-6">Requested By</div><div ><%=loan.user.name%></div></div>
          <div class="p-2 ml-3 mr-3 flex d-flex flex-row " ><div class="col-6">Email </div><div ><%=loan.user.email%></div></div>
          <div class="p-2 ml-3 mr-3 flex d-flex flex-row " ><div class="col-6">Amount </div><div ><%=loan.amount%></div></div>
          <div class="p-2 ml-3 mr-3 flex d-flex flex-row " ><div class="col-6">Tenure </div><div ><%=loan.tenure%></div></div>
          <div class="p-2 ml-3 mr-3 flex d-flex flex-row " ><div class="col-6">Loan Type</div><div ><%=loan.loantype%></div></div>
          <div class="p-2 ml-3 mr-3 flex d-flex flex-row justify-content-end">
          <input type="submit" name="isApproved" value="Accept" class="btn btn-success m-2 p-2" style="width: 4rem; text-align: center;">
          <input type="submit" name="isApproved" value="Reject" class="btn btn-danger m-2 p-2" style="width: 4rem; text-align: center;">
        </div>
        </div>
      </form>
      <%}else{%>
        <div class="center" style="background-color: #E6E6E6  !important; border-bottom: 0 !important; text-align: center !important;">No loan requests</div>
        <% } %>
      <%}%>
    </div>

  </div>

  <div class="col-4 mt-3 mb-3 flex d-flex flex-column">
    <div>
    <div class="row-1 flex d-flex flex-row">
      <div class="personal-loan-calculator" style="height: 150px;">
        <p style="text-align: center;"><i class="fa-solid fa-calculator"></i></p>
        <a href="/loancalculator" style="text-align: center;">Personel Loan Calculator</a>
      </div>
      <div class="Home-loan-calculator" style="height: 150px;">
        <p style="text-align: center;"><i class="fa-solid fa-landmark-dome"></i></p>
        <a href="/homeloan" style="text-align: center;">Home loan calculator</a>
      </div>
    </div>
    <div class="row-2 flex d-flex flex-row">
      
      <div class="personal-loan-calculator" style="height: 150px;">
        <p style="text-align: center;"><i class="fa-regular fa-credit-card"></i></p>
        <a href="/fixeddeposit" style="text-align: center;">Fixed Deposit Calculator</a>
      </div>
      <div class="Home-loan-calculator" style="height: 150px;">
        <p style="text-align: center;"><i class="fa-solid fa-money-bill-transfer"></i></p>
        <a href="#" style="text-align: center;">Credit card Calculator</a>
      </div>
    </div>
    </div>
      <div class="p-2 mt-3 account-item flex d-flex flex-row">
        <a href="/view/<%=currUser._id%>">Account Info</a>
      </div>
      
      
      <div class="p-2 mt-3 account-item flex d-flex flex-row">
        <a href="#">Fixed Deposits</a>
      </div>
      <div class="p-2 mt-3 account-item flex d-flex flex-row">
        <a href="/approvedloans">Loans</a>
      </div>
    
      <div class="p-2 mt-3 account-item flex d-flex flex-row">
        <a href="/close">Close Account</a>
      </div>
    

  </div>
</div>

<script src="/js/dashboard.js"></script>
<script>
  function searchLoanRequests() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("searchInput");
    filter = input.value.toUpperCase();
    table = document.getElementsByClassName("transactions-table")[0];
    tr = table.getElementsByTagName("form");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("input")[1]; // Assuming name is in the second input field
      if (td) {
        txtValue = td.value;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>





      
